<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="icon" href="/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10795186125"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'AW-10795186125');
    </script>
    <!-- Event snippet for Compra conversion page -->
    <script>
        var cookie_id = Math.random();
        gtag('event', 'conversion', {
            'send_to': 'AW-10795186125/4zekCIiDjPEbEM3vxZso',
            'value': 1.0,
            'currency': 'BRL',
            'transaction_id': cookie_id
        });
    </script>

    <title>Blog BRLTech - Instalação de Câmeras de Segurança Wifi em Goiânia</title>
</head>
<body>