<%- include('partials/header-confirm'); %>
<div class="brl-center-box brl-bg-gradient">
    
        <div class="card text-center shadow" style="max-width: 500px;">
            <img src="img/capa.jpg" class="card-img-top" alt="capa brltech">
            <div class="card-body">
                <h1 class="fs-2 fw-light">Obrigado pelo seu contato!</h1>
                <p class="lead text-body-secondary">Responderemos em instantes.</p>
                <p class="lead text-body-secondary">Enquanto isso, aproveite e dê uma olhada em alguns produtos para segurança residencial que estão em promoção no Mercado Livre!</p>
                
                <a class="btn btn-primary text-center btn-lg" href="https://mercadolivre.com/sec/1Sd4A4Q" target="_blank">Produtos para Segurança <i class="bi bi-box-arrow-up-right"></i></a>

                <hr>
                <p class="lead text-body-secondary"><i class="bi bi-whatsapp"></i> (62) 9 9669-1186</p>
                <p class="lead text-body-secondary"><i class="bi bi-envelope"></i> contato@brltech.com.br</p>
                <a class="btn btn-outline-primary text-center" href="/">Blog <i class="bi bi-box-arrow-up-right"></i></a>
            </div>
        </div>
    
    </div>
<%- include('partials/footer'); %>
