/* Padrões BRLTech */

/* // <weight>: Use a value from 400 to 700
// <uniquifier>: Use a unique and descriptive class name */

body {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

/* Color */
.brl-color-1 {
    color: #066699 !important;
}

/* Center box */
.brl-center-box {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BG */
.brl-bg-gradient {
    background: #4424D4;
    background: linear-gradient(120deg,rgba(68, 36, 212, 1) 0%, rgba(161, 119, 233, 1) 100%);
}

/* Buttons */
.btn-primary {
    border: #4424D4 !important;
    background: #4424D4 !important;
}
.btn-primary:hover {
    border: #371dac !important;
    background: #371dac !important;
}

/* DISPLAY GRID - CATEGORIAS*/
.brl-grid-pai {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 20px;
    justify-content: start
}

/* PADRÕES ARTIGOS */
.brl-article img {
    width: 100% !important;
    border-radius: 0.375rem;
}

.brl-article p:has(iframe) {
    aspect-ratio: 16/9 !important;
}

.brl-article iframe {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0.375rem;
}
